# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/Hubex.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Hubex.Tests
/Hubex.Tests/bin/Debug/net8.0/Hubex.Tests.deps.json
/Hubex.Tests/bin/Debug/net8.0/Hubex.Tests.runtimeconfig.json
/Hubex.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Hubex.Tests/obj/Debug/net8.0/Hubex.Te.9B7F6018.Up2Date
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.AssemblyInfo.cs
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.AssemblyInfoInputs.cache
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.assets.cache
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.csproj.AssemblyReference.cache
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.csproj.CoreCompileInputs.cache
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.csproj.FileListAbsolute.txt
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.genruntimeconfig.cache
/Hubex.Tests/obj/Debug/net8.0/Hubex.Tests.GlobalUsings.g.cs
/Hubex.Tests/obj/Hubex.Tests.csproj.nuget.dgspec.json
/Hubex.Tests/obj/Hubex.Tests.csproj.nuget.g.props
/Hubex.Tests/obj/Hubex.Tests.csproj.nuget.g.targets
/Hubex.Tests/obj/project.assets.json
/Hubex.Tests/obj/project.nuget.cache
/Hubex.Web.sln.DotSettings.user
/Hubex.Web/.vs/Hubex.Web/config/applicationhost.config
/Hubex.Web/.vs/Hubex.Web/DesignTimeBuild/.dtbcache.v2
/Hubex.Web/.vs/Hubex.Web/FileContentIndex/39c992e1-fccc-4f8c-a0f5-14e2c552e919.vsidx
/Hubex.Web/.vs/Hubex.Web/FileContentIndex/4e7b7eca-9263-41b4-a238-86b2315ad71f.vsidx
/Hubex.Web/.vs/Hubex.Web/FileContentIndex/aaa21932-1152-4379-b81e-d8e95cead02e.vsidx
/Hubex.Web/.vs/Hubex.Web/FileContentIndex/c57b6b38-9a5d-42a2-87c7-2cce7386a7ca.vsidx
/Hubex.Web/.vs/Hubex.Web/FileContentIndex/dca61963-47f4-42c2-aaa1-9f4b5d31755e.vsidx
/Hubex.Web/.vs/Hubex.Web/v17/.futdcache.v2
/Hubex.Web/.vs/Hubex.Web/v17/.suo
/Hubex.Web/.vs/Hubex.Web/v17/DocumentLayout.json
/Hubex.Web/.vs/ProjectEvaluation/hubex.web.metadata.v8.bin
/Hubex.Web/.vs/ProjectEvaluation/hubex.web.projects.v8.bin
/Hubex.Web/.vs/ProjectEvaluation/hubex.web.strings.v8.bin
/Hubex.Web/bin/Debug/net8.0/appsettings.Development.json
/Hubex.Web/bin/Debug/net8.0/appsettings.json
/Hubex.Web/bin/Debug/net8.0/Hubex.Web.deps.json
/Hubex.Web/bin/Debug/net8.0/Hubex.Web.runtimeconfig.json
/Hubex.Web/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.AssemblyInfo.cs
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.AssemblyInfoInputs.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.assets.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.csproj.AssemblyReference.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.csproj.BuildWithSkipAnalyzers
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.csproj.CoreCompileInputs.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.csproj.FileListAbsolute.txt
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.csproj.Up2Date
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.GeneratedMSBuildEditorConfig.editorconfig
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.genruntimeconfig.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.GlobalUsings.g.cs
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.MvcApplicationPartsAssemblyInfo.cache
/Hubex.Web/obj/Debug/net8.0/Hubex.Web.MvcApplicationPartsAssemblyInfo.cs
/Hubex.Web/obj/Debug/net8.0/staticwebassets.build.json
/Hubex.Web/obj/Debug/net8.0/staticwebassets/msbuild.build.Hubex.Web.props
/Hubex.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Hubex.Web.props
/Hubex.Web/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Hubex.Web.props
/Hubex.Web/obj/Hubex.Web.csproj.EntityFrameworkCore.targets
/Hubex.Web/obj/Hubex.Web.csproj.nuget.dgspec.json
/Hubex.Web/obj/Hubex.Web.csproj.nuget.g.props
/Hubex.Web/obj/Hubex.Web.csproj.nuget.g.targets
/Hubex.Web/obj/project.assets.json
/Hubex.Web/obj/project.nuget.cache
/packages/xunit.abstractions.2.0.3/.signature.p7s
/packages/xunit.abstractions.2.0.3/lib/net35/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/lib/netstandard1.0/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/lib/netstandard2.0/xunit.abstractions.xml
/packages/xunit.abstractions.2.0.3/xunit.abstractions.2.0.3.nupkg
/packages/xunit.core.2.8.1/_content/logo-128-transparent.png
/packages/xunit.core.2.8.1/_content/README.md
/packages/xunit.core.2.8.1/.signature.p7s
/packages/xunit.core.2.8.1/build/xunit.core.props
/packages/xunit.core.2.8.1/build/xunit.core.targets
/packages/xunit.core.2.8.1/buildMultiTargeting/xunit.core.props
/packages/xunit.core.2.8.1/buildMultiTargeting/xunit.core.targets
/packages/xunit.core.2.8.1/xunit.core.2.8.1.nupkg
/packages/xunit.extensibility.core.2.8.1/_content/logo-128-transparent.png
/packages/xunit.extensibility.core.2.8.1/_content/README.md
/packages/xunit.extensibility.core.2.8.1/.signature.p7s
/packages/xunit.extensibility.core.2.8.1/lib/net452/xunit.core.dll.tdnet
/packages/xunit.extensibility.core.2.8.1/lib/net452/xunit.core.xml
/packages/xunit.extensibility.core.2.8.1/lib/netstandard1.1/xunit.core.xml
/packages/xunit.extensibility.core.2.8.1/xunit.extensibility.core.2.8.1.nupkg
/packages/xunit.extensibility.execution.2.8.1/_content/logo-128-transparent.png
/packages/xunit.extensibility.execution.2.8.1/_content/README.md
/packages/xunit.extensibility.execution.2.8.1/.signature.p7s
/packages/xunit.extensibility.execution.2.8.1/lib/net452/xunit.execution.desktop.xml
/packages/xunit.extensibility.execution.2.8.1/lib/netstandard1.1/xunit.execution.dotnet.xml
/packages/xunit.extensibility.execution.2.8.1/xunit.extensibility.execution.2.8.1.nupkg
